.header__logo {
    padding-top: 45px;
    margin-bottom: 41px;
    display: block;
    width: 142px;
    height: 33px;
    transition: .5s;
}

.header__logo:hover {
    opacity: .5;
}

@media (max-width: 940px) {
    .header__logo {
        margin: 28px 0 31px 27px;
    }
}