.header__menu-button {
    width: 24px;
    height: 18px;
    background-color: transparent;
    border: none;
    background-image: url('../../../images/menu-button.svg');
    background-size: cover;
    transition: .5s;
}

.header__menu-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media (min-width: 673px) {
    .header__menu-button {
        display: none;
    }
}