@import url('./__copyright/footer__copyright.css');

.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

@media (max-width: 655px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}