.header__menu-button-active {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    background-image: url('../../../images/menu-button-active.svg');
    background-size: cover;
    transition: .5s;
}

.header__menu-button-active:hover {
    cursor: pointer;
    opacity: .6;
}

@media (min-width: 673px) {
    .header__menu-button-active {
        display: none;
    }
}